.service{
	background:#323334;
	width:200px;
	height:150px;
	border-radius: 4px;
	margin-top:20px;
}
.invis{
	background:transparent;
	width:200px;
	height:150px;
	border-radius: 4px;
}
.service.focus{
	background-color:#cc2e2e;

}
.aws{
	width:100%;
	height:150px;
	background-image:url('../../../assets/os/aws.png');
	background-repeat: no-repeat;
	background-size:75px 75px;
	background-position: center center;
	opacity:.5;
		transition: all .3s;
}
.digiocean{
	width:100%;
	height:150px;
	background-image:url('../../../assets/os/digiocean.png');
	background-repeat: no-repeat;
	background-size:75px 75px;
	background-position: center center;
	opacity:.5;
		transition: all .3s;
}
.gapp{
	width:100%;
	height:150px;
	background-image:url('../../../assets/os/appengine.png');
	background-repeat: no-repeat;
	background-size:75px 75px;
	background-position: center center;
	opacity:.5;
		transition: all .3s;
}
.linode{
	width:100%;
	height:150px;
	background-image:url('../../../assets/os/linode.png');
	background-repeat: no-repeat;
	background-size:75px 75px;
	background-position: center center;
	opacity:.5;
		transition: all .3s;
}
.rack{
	width:100%;
	height:150px;
	background-image:url('../../../assets/os/rack.png');
	background-repeat: no-repeat;
	background-size:75px 75px;
	background-position: center center;
	opacity:.5;
		transition: all .3s;
}
.mt{
	width:100%;
	height:150px;
	background-image:url('../../../assets/os/mt.png');
	background-repeat: no-repeat;
	background-size:75px 75px;
	background-position: center center;
	opacity:.5;
	transition: all .3s;
}
.notapplicable-hs{
	width:100%;
	height:150px;
	background-image:url('../../../assets/os/notapplicable.png');
	background-repeat: no-repeat;
	background-size:75px 75px;
	background-position: center center;
	opacity:.5;
	transition: all .3s;
}
.focus .aws,.focus .digiocean, .focus .mt, .focus .rack ,.focus .linode, .focus .gapp, .focus .notapplicable-hs {
	opacity:1;
}
.digiocean:hover, .mt:hover, .rack:hover , .linode:hover, .gapp:hover, .notapplicable-hs:hover {
	opacity:.75;
	transition: all .3s;
}
.space{
  padding:25px 0px;
}
.os, .service{
	position: relative;
}
.os p{
	display: inline-block;
	position: absolute;
	bottom:7px;
	left:50%;
	color:white;
	font-weight: 400;
	transform: translateX(-50%);
}
.service p{
	display: inline-block;
	position: absolute;
	bottom:7px;
	left:50%;
	color:white;
	font-weight: 400;
	transform: translateX(-50%);
}
.server-contain{
	width:300px;
	text-align:center;
}
.server-contain p{
	padding-top:15px;
}
.service-contain{
	width:200px;
	text-align:center;
}
.service-contain p{
	padding:10px;
}
.testing .rop{
	background:#323334;
	width:300px;
	height:200px;
	border-radius: 4px;
	padding:0px;
}
.testing input[type=radio]{
    display:none;
}
.testing input[type=radio]:checked + .rop{
	background-color:#2ECC71;
}
.sadmin .serv{
	background:#323334;
	width:200px;
	height:150px;
	border-radius: 4px;
	padding:0px;
}
.sadmin input[type=radio]{
    display:none;
}
.sadmin input[type=radio]:checked + .serv{
	background-color:#cc2e2e;
}
.invisa{
	width:300px;
	height:200px;
}
