<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email Address">
                </div>
				<div class="form-group">
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
