.content {
	margin-top: 132px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}
*{
	font-family: 'Roboto', sans-serif !important;
}
h1{
	font-weight: 300;
}
/* Steve's CSS */

/* div that contains both classes */
.navbar-inverse.mymenu {
    background-color:#ffffff;
    border-color: #ffffff;
    padding-top: 20px;
    height: 72px;
    margin-bottom: 0px;
}

.navbar-default.mymenu{
    background-color:#ffffff;
    border-color: #ffffff;
    padding-top: 30px;
    margin-bottom: 50px;
}

.navbar-brand.mylogo {
    background:url("../../../assets/onlylogo.svg");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    position: relative;
    left: 5px;
}


.col-md-7 .browser {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.col-md-7 .browser .crossbar {
    border-bottom: 1px solid #ccc;
    padding: 7px 11px;
    width:100%
}

.crossbar ul.dots {
    padding: 0px;
    margin: 0px;
}

.dots li {
    border-radius:100%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.dots .red {
    background-color: #e34c24;
}

.dots .yellow {
    background-color: #e4d735;
}

.dots .green {
    background-color: #2ad665;
}

.browser .browser-content {
    background-image: url("https://www.digitalocean.com/assets/images/create-droplet-v5-e512defa.gif");
    height: 440px;
    background-position: center top;
    overflow: hidden;
    position: relative;
    background-size: cover;
}

.row h1, .row h2 {
    font-family: 'Open Sans', serif;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: -1.5px;
    line-height: 48px;
    margin: 0;
    text-align: left;
    color: #666;
}

.row h1::after {
    background-color: #bbb;
    content: " ";
    display: block;
    height: 1px;
    margin: 30px 0;
    width: 150px;
}

.row h2 {
    letter-spacing: -.5px;
    line-height: 39px;
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 45px;
}

.row strong {
    font-weight: 500;
}

.formclass {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    height: 40px;
    font-family: 'Open Sans', serif;
    font-size: 16px;
    font-weight: 100;
    max-width: 440px;
    padding: 10px;
}

.submit, .submit:hover {
    background-color: #2ecc71;
    border: none;
}

/* Chat Client CSS */

/* default border style is none */

.col-md-2.server-list {
    background-color: black;
    border-style: solid;
    border-color: yellow;
    border-width: 3px;
}

.server-list p {
    color: white;
}

.navbar-fixed-top {
/*	z-index: 0; */
}

li.ng-binding {
	padding-top: 1em;
}

/* Server List */
.servers{
	position: relative;
	top: 81px;
}
.server{
	background:#323334;
	width:300px;
	height:200px;
	border-radius: 4px;
	cursor:pointer;
}
.server.focus{
	background-color:#2ECC71;
}
.info{
	display:inline-block;
	padding: 60px 20px;
}
h2{
	font-size:18pt;
	font-weight:300;
	margin:0px;
	margin-bottom:10px;
}
.ubuntu{
	width:100%;
	height:200px;
	background-image:url('../../../assets/os/ubuntu.png');
	background-repeat: no-repeat;
	background-size:100px 100px;
	background-position: center center;
	opacity:.5;
		transition: all .3s;
}
.windows{
	width:100%;
	height:200px;
	background-image:url('../../../assets/os/windows.png');
	background-repeat: no-repeat;
	background-size:100px 100px;
	background-position: center center;
	opacity:.5;
	transition: all .3s;
}
.centos{
	width:100%;
	height:200px;
	background-image:url('../../../assets/os/centos.png');
	background-repeat: no-repeat;
	background-size:100px 100px;
	background-position: center center;
	opacity:.5;
		transition: all .3s;
}
.redhat{
	width:100%;
	height:200px;
	background-image:url('../../../assets/os/redhat.png');
	background-repeat: no-repeat;
	background-size:100px 100px;
	background-position: center center;
	opacity:.5;
		transition: all .3s;
}
.ubuntu:hover, .windows:hover, .centos:hover, .redhat:hover{
	transiton: all .3s;
	opacity:.75;
}
.focusfix:checked + .rop{
	opacity:1;
}
.padding{
	margin:15px 0px;
}
/* Services */
/* Flex Box */
.flex{
	width:100%;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.radio p{
	text-align:center;
}
