.submittickets{
  padding:25px;
  border-radius: 4px;
  display: inline-block;
  max-width: 300px;
  background:#efefef;
  margin: 0 25px 25px 0;
  height:initial;
}
.submittickets:nth-child(1){
  background:#2ECC71;
  color:white;
}
.flex-area{
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
}
