<section data-ng-controller="ServersController">
	<div class="container"><h1>Your servers</h1></div>
	<div class="container padding">
		<div class="server focus">
			<div class="ubuntu">
			</div>
		</div>
		<div class="info">
			<h2>Image server</h2>
			<button type="button" class="btn btn-success">New Ticket</button>
			<button type="button" class="btn btn-danger">Open Tickets <span class="badge">1</span></button>
			<button type="button" class="btn btn-default">Closed Tickets</button>
		</div>
	</div>
	<div class="container padding">
		<div class="server">
		</div>
		<div class="info">
			<h2>Web server</h2>
			<button type="button" class="btn btn-success">New Ticket</button>
			<button type="button" class="btn btn-danger">Open Tickets <span class="badge">1</span></button>
			<button type="button" class="btn btn-default">Closed Tickets</button>
		</div>
	</div>
</section>
